[Unit]
Description=VetLMS Django Application
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
WorkingDirectory=/var/www/vetlms
Environment="PATH=/var/www/vetlms/venv/bin"
Environment="DJANGO_SETTINGS_MODULE=vetlms.deployment_settings"
ExecStart=/var/www/vetlms/venv/bin/gunicorn --workers 3 --bind unix:/var/www/vetlms/vetlms.sock vetlms.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
