<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    
    <!-- Static Content MIME Types -->
    <staticContent>
      <!-- CSS -->
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      
      <!-- JavaScript -->
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      
      <!-- Fonts -->
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
      
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      
      <!-- Images -->
      <remove fileExtension=".png" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      
      <remove fileExtension=".jpg" />
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      
      <remove fileExtension=".jpeg" />
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
      
      <remove fileExtension=".gif" />
      <mimeMap fileExtension=".gif" mimeType="image/gif" />
      
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      
      <!-- JSON -->
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    
    <!-- Handlers -->
    <handlers>
      <add name="Python FastCGI" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\Users\Fadak\vetlms\venv\Scripts\python.exe|C:\Users\Fadak\vetlms\venv\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
    
    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>
        <!-- Static Files - با اولویت بالا -->
        <rule name="Static Files" stopProcessing="true">
          <match url="^static/(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="staticfiles/{R:1}" />
        </rule>
        
        <!-- Media Files -->
        <rule name="Media Files" stopProcessing="true">
          <match url="^media/(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="media/{R:1}" />
        </rule>
        
        <!-- Django Application -->
        <rule name="Django Application" stopProcessing="false">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- HTTP Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Cache Control for Static Files -->
    <caching>
      <profiles>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="30.00:00:00" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="30.00:00:00" />
        <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="30.00:00:00" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="30.00:00:00" />
      </profiles>
    </caching>
    
    <!-- Security -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="venv" />
          <add segment=".git" />
          <add segment="__pycache__" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
  </system.webServer>
  
  <!-- FastCGI Settings -->
  <appSettings>
    <add key="PYTHONPATH" value="C:\Users\Fadak\vetlms" />
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="DJANGO_SETTINGS_MODULE" value="vetlms.settings" />
    <add key="WSGI_LOG" value="C:\Users\Fadak\vetlms\logs\wfastcgi.log" />
  </appSettings>
</configuration>

